.navbar-default {
    background-color: #E15554 !important;
    border-color: red;
    color: white !important;

   }

  .navbar-brand img {
  	height: 100px;
  }

  .navbar {
  	margin-bottom: 0 !important;
  }


.header {
  border-radius: 10%;
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;


}

.header h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
}

.header img {
  margin-top: 80px;
  position: relative;
}

.bg2 {
  background-color: lightblue;.
  text-align: center;
  height: 500px;


}

.bg2 .thumbnail {

  padding: 10px 10px;
  margin: 20px 20px;
  width:  300px;
  text-align: center;
}

.bg2 .row {
    margin-left: 100px;
}

i {
  font-size: 60px;
}


#btn-start {
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}

  @media only screen and (max-width: 321px) {
  .bg1 {
    height: 400px;
    background-image: none;
    margin-left: 0;
  }

  .header h1{
    color: white;
    font-size: 30px;
 
  }

  .bg2 {
    height: 1000px;
  }

  .bg2 .row  {
    margin-left: 0 !important;
  }

  .bg2 h2 {
    font-size: 20px;
  }

  .bg2 span {
    font-size: 25px;
  }

  .bg2 .thumbnail {
    margin: 5px 0 !important;

  }

  #btn-start {
    margin-top: 25px;
  }
}
   @media only screen and (min-width: 321px) and (max-width: 760px) {
  .bg1 {
    height: 400px;
    margin: 0 auto;
  }

  .header h1{
    color: white;
    font-size: 20px;

  }

  .bg2 .row  {
    margin-left: 0px;
  }

   .bg2 .thumbnail {
    width: 300px;
    margin: 0px 0px;
   }


}